.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  padding: 40px;
}

.about-box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 800px;
  width: 100%;
  color: #333;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ff577f;
}

.section p {
  font-size: 16px;
  line-height: 1.6;
}

.contact-section ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-section li {
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-section a {
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}
