/* Styling for the navigation bar */
body{
  background: linear-gradient(135deg, #d593ff, #6fcdfb, #64e6e1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  padding: 10px 20px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.site h1 {
  margin: 0;
  font-size: 30px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}
